html {
  font-size: 12px;
  @media screen and (min-width: $tablet) {
    font-size: 16px;
  }
}

body {
  background-color: #fff;
  color: #000;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

a {
  &:hover,
  &:focus {
    text-decoration: none !important; //overriding Bootstrap
  }
}