.button {
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
  transition: 0.6s ease-in-out;
  border: 3px solid $denim;
  border-radius: 4rem;
  width: 15rem;
  padding: 1rem;
  background-color: #fff;
  font-size: 1.2rem;
  font-weight: 600;

  &:hover,
  &:focus,
  &:active {
    outline: none;
    color: #fff;
    background-color:  $denim;
    border-color: $denim;
  }
}

.button-downward {
  bottom: 10%;

  @media screen and (min-width: $notebook) {
    bottom: 30%;
  }
}