.error-info {
  position: absolute;
  top: 0;
  display: none;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  background-color: #ff4e3a;
  color: #fff;
  text-align: center;
  &__status {
    font-size: 1.25rem;
  }

  &__instruction {
    margin: 0;
    font-size: 1rem;
  }
}