.list {
  display: none;
  margin: 0;
  border-style: solid;
  border-width: 20px 0;
  border-color: $gallery;
  list-style: none;

  &__item {
    overflow: auto;
    padding: 1rem 0;

    &:first-child {
      margin-top:1rem;
    }

    &:last-child {
      margin-bottom:1rem;
    }
  }

  &__date-container {
    text-align: left;

    @media screen and (min-width:$notebook) {
      text-align: right;
    }
  }

  &__date {
    display: inline-block;
    padding: 0.5rem;
    margin: 1rem 0 0 30px;
    font-size: 1rem;
    color: $gray;

    @media screen and (min-width:$notebook) {
      margin-left: 0;
    }
  }

  &__content-container {
    padding-left: 2rem;
    border-left: 5px solid $cinnabar;
  }

  &__title {
    margin: 0;
    font-size: 2rem;
    font-weight: 700;
    color: $denim;

    &:hover {
      text-decoration: none;
    }
  }

  &__excerpt {
    p {
      display: block;
      margin: 1rem 0 0;
      font-size: 1.2rem;
      color: #000;
    }
  }

  &__link {
    display: inline-block;
    margin-top: 1rem;
    border-bottom: 4px solid transparent;
    font-size: 1.2rem;
    font-weight: 700;
    color: #000!important; //overriding Bootstrap

    &:hover {
      border-color: $denim;
    }
  }
}



