.loader {
  position: relative;
  display: none;
  margin: 40vh auto 0;

  &__shape {
    position: absolute;
    left: 50%;
    top: 50%;
    transform-origin: 0;
    width: 30px;
    height: 30px;
    border: 1px solid $cyan;
    animation: loading-animation 3s infinite ease-in-out;
  }
}

@keyframes loading-animation {
  50% {
    transform: scale(5) rotate(270deg);
    border-color: $magenta;
    border-radius: 50%;
  }

  100% {
    transform: scale(1) rotate(360deg);
    border-color: $yellow;
  }
}