<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1">
    <title>Load posts app</title>
    <meta name="description" content="Small web application which loads the blog posts data and displays it on the list">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--build:css css/main.min.css-->
    <link rel="stylesheet" type="text/css" href="css/vendor/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="css/vendor/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/vendor/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!--endbuild-->
</head>

<body>
    <div class="loader" id="loader">
        <div class="loader__shape"></div>
        <div class="loader__shape" style="animation-delay:0.1s"></div>
        <div class="loader__shape" style="animation-delay:0.2s"></div>
        <div class="loader__shape" style="animation-delay:0.3s"></div>
        <div class="loader__shape" style="animation-delay:0.4s"></div>
    </div>

    <div class="error-info" id="error-info"></div>

    <button class="button" id="button">Load the posts</button>

    <ul class="list container-fluid" id="list"></ul>

    <script id="error-template" type="text/template">
        <p class="error-info__status"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Error {{number}} - {{text}}</p>
        <p class="error-info__instruction">Click the button to try again</p>
    </script>

    <script id="list-item-template" type="text/template">
        {{#each this}}
        <li class="list__item row">
            <div class="col-xs-12 col-md-2">
                <div class="list__date-container">
                    <time class="list__date">{{#parseDate date}}{{/parseDate}}</time>
                </div>
            </div>
            <div class="col-xs-12 col-md-10">
                <div class="list__content-container">
                    <h1 class="list__title"><a href="{{link}}">{{{title.rendered}}}</a></h1>
                    <span class="list__excerpt">{{{excerpt.rendered}}}</span>
                    <a href="{{link}}" class="list__link">Read more <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                </div>
            </div>
        </li>
        {{/each}}
    </script>

    <!--build:js js/main.min.js -->
    <script src="js/vendor/jquery-3.2.1.min.js"></script>
    <script src="js/vendor/moment.min.js"></script>
    <script src="js/vendor/handlebars-v4.0.10.js"></script>
    <script src="js/main.js"></script>
    <!-- endbuild -->
</body>

</html>
